@value colors: "../../../utils/colors.module.css";
@value orangeGradientLight, orangeGradientDark from colors;

/* The background is fixed to prevent the gradient from moving during scroll, or changing when the content height does */
.background {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background: linear-gradient(30deg, orangeGradientLight, orangeGradientDark);
  z-index: -1;
}
