.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.formHeading {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.betaNoticeLink {
  display: block;
  text-align: left;
  width: 72px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.2s linear opacity;
}

.betaNoticeLink:hover {
  opacity: 1;
}

.errorMessage.isShown + .betaNoticeLink {
  margin-top: 10px;
}
