.formContainer {
  width: 100%;
  height: 100%;
  padding: 10% 0;
}

.heading {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-left: 15px;
}

.inputLabel {
  font-size: 14px;
  opacity: 0.8;
  padding-left: 15px;
}

.input {
  width: 100%;
  background-color: #ffffff55;
  border: none;
  border-radius: 3px;
  margin: 5px 0 30px;
  padding: 5px 10px 5px 25px;
  box-shadow: 0 0 5px #00000022;
  color: white;
}

.budgetCurrency {
  position: absolute;
  left: 15px;
  top: 10px;
}

.thresholdValue {
  position: relative;
  top: 5px;
}

/* Some of these styles have to be !importanted to override the imported component's default styles */
.thresholdSliderRoot {
  display: inline-block;
  width: 75% !important;
  margin: 0 15px 0 10px;
}

.thresholdSlider {
  background-color: white !important;
}
