.valuesAndPercentage {
  max-width: 200px;
}

.bar {
  margin-top: 10px;
}

.values {
  display: flex;
}

.heading {
  margin: 0;
  font-size: 26px;
}

.spacer {
  width: 10px;
}

.total {
  opacity: 0.5;
}
