.errorMessage {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px #00000022;
  padding: 5px 10px;
  color: rgb(212, 0, 0);
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.errorMessage.isShown {
  opacity: 1;
  visibility: visible;
}
