@value constants: "../utils/measurements.module.css";
@value mobileBreakpoint, sidebarWidth from constants;

.errorMessage {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.errorMessage__withSidebar {
  composes: errorMessage;
  height: 100%;
  padding-left: sidebarWidth;
}

.polygon {
  transform: rotate(7deg);
  height: 400px;
  width: 400px;
}

.polygonContent {
  margin: 0;
  position: absolute;
  width: 320px;
}

@media (max-width: mobileBreakpoint) {
  .errorMessage__withSidebar {
    padding-left: 0;
  }
}
