@value constants: "../utils/measurements.module.css";
@value mobileBreakpoint from constants;

.proposal,
.proposal__closed {
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.proposal:not(:last-child),
.proposal__closed:not(:last-child) {
  margin-bottom: 20px;
}

.content {
  width: 100%;
  padding-right: 20px;
}

.proposalHeading__closedProposal {
  display: block;
}

.proposalHeading__mobile {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 180px;
  text-align: right;
}

.name {
  margin: 0 0 5px;
  font-size: 20px;
  font-family: "Lato", Helvetica, sans-serif;
}

.estimatedCost {
  font-size: 18px;
  margin-top: 0;
}

.description {
  font-size: 14px;
}

@media (max-width: mobileBreakpoint) {
  .proposal {
    display: flex;
    flex-direction: column-reverse;
  }

  .proposalHeading,
  .proposal__closed .description {
    display: none;
  }

  .proposalHeading__mobile {
    display: block;
  }

  .proposal .status {
    width: 100%;
    align-items: flex-start;
    text-align: left;
  }
}
