@value constants: "../utils/measurements.module.css";
@value mobileBreakpoint, sidebarWidth from constants;

.proposalList {
  width: 100%;
  height: 100%;
  padding-left: sidebarWidth;
}

.spinnerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: mobileBreakpoint) {
  .proposalList {
    padding-left: 0;
  }
}
