.voteNo,
.voteYes {
  width: 60px;
}

.vote__chosen {
  opacity: 1;
}

.voteNo,
.redStatusBadge {
  background-color: #fddecd;
  color: #593a6b;
}

.voteYes,
.greenStatusBadge {
  background-color: #dbf3d5;
  color: #39435d;
}

.redStatusBadge,
.greenStatusBadge {
  border-radius: 2px;
  font-size: 12px;
  padding: 5px 15px;
  opacity: 0.95;
  text-align: center;
  text-transform: capitalize;
}

.bar {
  margin-top: 20px;
}

.votesText {
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
}
