@value measurements: "../utils/measurements.module.css";
@value primaryPaddingDesktop, primaryPaddingMobile, mobileBreakpoint, sidebarWidth from measurements;

.companyName {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

.appName {
  font-size: 12px;
  text-transform: uppercase;
}

.budget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: primaryPaddingDesktop 0 primaryPaddingDesktop primaryPaddingDesktop;
  position: fixed;
  top: 0;
  left: 0;
  width: sidebarWidth;
  height: 100%;
}

.filterHeading {
  font-family: "titling-gothic-fb-condensed", Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 6px 0;
}

.filterButton {
  margin: 0 8px 8px 0;
}

.filterButton + .filterButton {
  margin-left: 0;
}

.filterButton:not(.filterButton__active) {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.username {
  margin: 0;
  font-size: 14px;
}

.signOutButton {
  background: none;
  box-shadow: none;
  padding: 0;
}

.signOut {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

.spacer {
  min-height: 30px;
  flex: 1;
}

@media (max-width: mobileBreakpoint) {
  .sidebar {
    padding: primaryPaddingMobile primaryPaddingMobile 32px primaryPaddingMobile;
    position: static;
  }
}

.createProposalButtonContainer {
  margin: 40px 0;
}

.createProposalButtonText {
  flex: 1;
  margin-left: 7px;
}
