.heading {
  align-self: flex-start;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-left: 15px;
}

.input {
  width: 100%;
  background-color: #ffffff55;
  border: none;
  border-radius: 3px;
  margin: 5px 0 30px;
  padding: 5px 10px 5px 25px;
  box-shadow: 0 0 5px #00000022;
  color: white;
}
