.button {
  padding: 10px 20px;
  background-color: #f5fcff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  color: #44577b;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.03ch;
  opacity: 0.95;
  text-decoration: none; /* For links */
}

.secondary {
  background-color: #44577b;
  color: #f5fcff;
}

.button + .button {
  margin-left: 8px;
}

.button:hover {
  opacity: 1;
}

.button:disabled {
  cursor: default;
}

.button:disabled:not([class*="__chosen"]) {
  opacity: 0.5;
}
