@value measurements: "../../utils/measurements.module.css";
@value mobileBreakpoint, primaryPaddingDesktop from measurements;

.page {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: primaryPaddingDesktop;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.polygon {
  transform: rotate(7deg);
  min-height: 400px;
  min-width: 400px;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 340px;
}

@media (max-width: mobileBreakpoint) {
  .page {
    position: relative;
    overflow: hidden;
  }
}
