.container {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 10;
}

.input {
  width: 100%;
  background-color: #ffffff55;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 5px 10px;
  box-shadow: 0 0 5px #00000022;
  color: white;
}

.checkbox {
  margin-bottom: 20px;
}

.input[type="number"] {
  /* Remove spinner arrows in FF */
  -moz-appearance: textfield;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

.errorMessage {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px #00000022;
  padding: 5px 10px;
  color: rgb(212, 0, 0);
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.errorMessage.isShown {
  opacity: 1;
  visibility: visible;
}

.recurringEstimatedCostInput {
  margin-bottom: 0;
}

.recurringCostPredictionContainer {
  height: 20px;
}

.recurringCostPrediction {
  font-style: italic;
  opacity: 0.5;
}
