<script src="https://use.typekit.net/npr6fqp.js"></script>
<script>try{ Typekit.load(); } catch(e){ }</script>
<link
  href="https://fonts.googleapis.com/css?family=Lato:400,700,900"
  rel="stylesheet"
/>
<style>
  body {
    margin: 0;
  }
</style>
