.message {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px #00000022;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.errorMessage {
  background: rgb(212, 0, 0);
}

.loadingMessage {
  background: rgb(243, 199, 96);
}

.successMessage {
  background: rgb(90, 206, 90);
}

.message.isShown {
  opacity: 1;
  visibility: visible;
  z-index: 100; /* Keep it high, should even be on top of modals etc */
}

.messageText {
  width: 100%;
}

.messageCloseButton {
  margin-left: auto;
  padding: 0;
  font-size: initial;
  background: none;
}
