.container {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 10;
}

.formHeading {
  margin-bottom: 16px;
}

.budgetInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.currencySymbol {
  padding-top: 5px;
}

.input {
  width: calc(100% - 15px);
  background-color: #ffffff55;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0 0 5px #00000022;
  color: white;
}

.errorMessage {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px #00000022;
  margin-top: 20px;
  padding: 5px 10px;
  color: rgb(212, 0, 0);
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.errorMessage.isShown {
  opacity: 1;
  visibility: visible;
}
