.calendar :global(.react-datepicker__day),
.calendar :global(.react-datepicker__day-name) {
  font-family: "Lato", Helvetica, sans-serif;
  color: black;
}

.calendar :global(.react-datepicker__day--selected) {
  font-family: "Lato", Helvetica, sans-serif;
  color: white;
  background-color: indianred;
}

.calendar :global(.react-datepicker__current-month) {
  font-family: "Lato", Helvetica, sans-serif;
  color: black;
}

.calendar :global(.react-datepicker__month-container),
.calendar :global(.react-datepicker__header) {
  background-color: #ffffff00;
}

.calendar :global(.react-datepicker__triangle::before) {
  border-bottom-color: #ffffff22;
}

.calendar {
  background-color: #ffffff;
  border: 0;
  box-shadow: 0 0 5px #00000022;
}
