.checkbox {
  display: none;
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

label .background {
  margin: 0;
  margin-right: 10px;
  content: "";
  display: flex;
  height: 16px;
  width: 16px;
  background-color: #ffffff55;
  border-radius: 3px;
  box-shadow: 0 0 5px #00000022;
}

label:hover .background {
  background-color: #ffffff77;
}

label:active .background {
  border: 1px solid #ffffffbb;
}
