.container {
  padding: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
}

.companyName {
  font-family: "titling-gothic-fb-condensed", Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.budget {
  margin-top: 20px;
}

.flexSpacer {
  flex: 1;
}

.userName {
  margin-bottom: 10px;
}

.logOutButton {
  justify-self: flex-end;
}

.setBudgetButton {
  opacity: 0.8;
  transition: opacity 200ms linear;
  background: none;
  box-shadow: none;
  color: white;
  margin-top: 20px;
  padding: 0;
}

.setBudgetButton:hover {
  opacity: 1;
}

.setBudgetButton:focus {
  outline: 0;
}
